---
layout: default
title: Xintong Wang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Xintong Wang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">王鑫同</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Ph.D. Candidate<br/>
    	  Department of Informatics<br/>
        University of Hamburg<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:m.e.xintong@gmail.com">m.e.xintong@gmail.com</a><br/>
      <a href="https://scholar.google.com/citations?user=xYfO9VEAAAAJ&hl=en"><img src="img/ico/gs.png" alt=""/> Google Scholar</a><br/>
      <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="https://ethanscuter.github.io/">https://ethanscuter.github.io</a><br/>
    </div>
  </div>
</div>


<h4>Biography</h4>
<p>
I am a Ph.D. Candidate at the University of Hamburg, advised by Prof. Chris Biemann.I got the M.Eng and B.Eng. in Computer Science at South China University of Technology in 2019 and 2016 respectively. I have also worked with Prof. Wenjie Li at Hong Kong Polytechnic University and Prof. Min Yang at Chinese Academy of Sciences since 2018.
</p>

<div class="solid-line"></div>
<h4><span style="color: red;"><strong>News</strong></span></h4>
<p>
Feb. 2020: I will be a <span style="color: red;"><strong>Ph.D. student</strong></span> at <a href="https://www.uni-hamburg.de/en.html">University of Hamburg</a> working with Prof. <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/chris-biemann.html">Chris Biemann</a>.</br>
July. 2018: I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University</a> working with Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a>.</br>
Feb. 2018: I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="http://english.cas.cn/">The Chinese Academy of Sciences</a> working with Prof. <a href="http://minyang.me/">Min Yang</a>.</br>
</p>

<div class="solid-line"></div>
<h4>Experience/Internship</h4>
<ul>
  <li>
  	<a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University </a>, Research Assistant, Hong Kong, China<br/>
  	Advisor: Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a><br/>
  	Oct. 2018 - Aug. 2019
  </li>
  <li>
  	<a href="http://english.cas.cn/">The Chinese Academy of Sciences</a>, Research Assistant, Shenzhen, China<br/>
  	Advisor: Prof. <a href="http://minyang.me/">Min Yang</a><br/>
  	Mar. 2018 - Oct. 2018
  </li>
</ul>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<ul>
<strong>Natural Language Processing</strong><br/>
  <span>My recent work focus on Multi-modal Reading Comprehension, Natural Language Generation.</span><br/>
  <br/>
  <strong>Previous Research Interest</strong><br/>
  <span>Domain Adaptation in Computer Vision, Spatial-temporal Data Mining</span><br/>
</ul>

<div class="solid-line"></div>
<h4>Education</h4>
<ul>
   <li>
    <strong>Ph.D.</strong> | 
    <span>
      Department of Informatics, University of Hamburg
    </span><br/>
    <strong>Exzellenzinitiative</strong><br/>
    <a href="https://so-link.org/">Language Technology Group</a><br/>
    Research areas: Multi-modal Reading Comprehension<br/>
    April, 2020 - Dec, 2023
  </li>
  <li>
    <strong>Master</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    <strong>Double First-class Universities</strong> & <strong>Project 985 Universities</strong><br/>
    <a href="https://so-link.org/">Intelligent Information Fusion Research Group</a><br/>
    Research areas: Computer Vision, Natural Language Processing<br/>
    Sep, 2016 - July, 2019
  </li>
  <li>
    <strong>Bachelor</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    <strong>Double First-class Universities</strong> & <strong>Project 985 Universities</strong><br/>
    Major: Computer Science and Technology<br/>
    Sep, 2012 - July, 2016
  </li>
</ul>

<div class="solid-line"></div>
<h4>Publications</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<div class="solid-line"></div>
<h4>Honors and Awards</h4>
<ul>
  <span>2017, 2018, 2019 | Graduate Research Scholarship</span></br>
  <span>2016 | Hongping And Changqing Scholarship</span></br>
  <span>2016 | Tencent Scholarship Bachelor Level</span></br>
  <span>2016 | Anju Bao Scholarship</span></br>
  <span>2013, 2014, 2015 | Bachelor Scholarship</span></br>
  </br>
  <span>2015 | Honorable Mention of Mathematical Contest In Modeling Certificate of Achievement</span></br>
  <span>2015 | Gold Prize in National COMAP’s Computer Software Design Contest</span></br>
</ul>

<div class="solid-line"></div>
<h4>Services</h4>
<ul>
  <span>External Reviewer: ACL 2020 (CCF-A), EMNLP 2019 (CCF-B), NLPCC 2019 (CCF-C), IEEE Access (Q1 Journal)</span></br>
</ul>

<div class="solid-line"></div>
<div>
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=bGVmTKl8uEizbTwWPti0_5PaTxJcf6G8TzaPef_pWCk&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
</div>
