---
layout: default
title: Xintong Wang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Xintong Wang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">王鑫同</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Ph.D. Candidate/Doctoral Research Associate<br/>
    	  Department of Informatics<br/>
        Faculty of Mathematics, Informatics and Natural Sciences<br />
        University of Hamburg<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:m.e.xintong@gmail.com">xintong.wang@uni-hamburg.de</a><br/>
      <img src="img/ico/gs.png" alt=""/> Google Scholar: <a href="https://scholar.google.com/citations?user=xYfO9VEAAAAJ&hl=en"> Google Scholar</a><br/>
      <img src="img/ico/linkedin.png" alt=""/> Linkedln: <a href="https://www.linkedin.com/in/xintong-wang-8a4b671b0/">Linkedln</a><br />
      <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/xintong.html"> Faculty</a>, <a href="https://ethanscuter.github.io/"> Personal</a><br/>
    </div>
  </div>
</div>


<h4>Biography</h4>
<p>
I am a second-year Ph.D. Candidate/Doctoral Research Associate at the University of Hamburg, advised by Prof. Dr. Chris Biemann. Now, I'm supported by <a href="https://www.dfg.de/">DFG</a> Project <a href="https://www.crossmodal-learning.org/home.html">Crossmodal Learning for Improving Human Reading</a>. I also used to work with Prof. Wenjie Li at Hong Kong Polytechnic University and Prof. Min Yang at Chinese Academy of Sciences. Prior to that, I received the M.Eng and B.Eng. in Computer Science at South China University of Technology in 2019 and 2016 respectively.
</p>
<p>  
Our group opens several remote <span style="color: red;"><strong>intern positions</strong></span>. Feel free to contact me if you are interested in cross-modal learning or natural language generation.</br>
</p>


<div class="solid-line"></div>
<h4><span style="color: red;"><strong>News</strong></span></h4>
<p>
Oct. 2020: I have been granted the <span style="color: red;"><strong>AI Funding for EMNLP</strong></span>. Big thanks to the <a href="https://2020.emnlp.org/">EMNLP committee</a>!</br>
Jun. 2020: I have been granted the <span style="color: red;"><strong>2020 D&I Award</strong></span>. Big thanks to the <a href="https://acl2020.org/">ACL committee</a>!</br>
Feb. 2020: I will be a <span style="color: red;"><strong>Ph.D. student</strong></span> at <a href="https://www.uni-hamburg.de/en.html">University of Hamburg</a> working with Prof. Dr. <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/chris-biemann.html">Chris Biemann</a>.</br>
Jul. 2018:  I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University</a> working with Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a>.</br>
Feb. 2018: I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="http://english.cas.cn/">The Chinese Academy of Sciences</a> working with Prof. <a href="http://minyang.me/">Min Yang</a>.</br>
</p>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<ul>
<strong>Natural Language Processing</strong><br/>
  <span>My recent work focuses on Multi-modal Learning, Natural Language Generation.</span><br/>
</ul>

<div class="solid-line"></div>
<h4>Education</h4>
<ul>
   <li>
    <strong>Ph.D.</strong> | 
    <span>
      Department of Informatics, University of Hamburg
    </span><br/>
    <strong>Exzellenzinitiative/Eliteuniversität</strong><br/>
    <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/home.html">Language Technology Group</a><br/>
    Research areas: Multi-modal Learning<br/>
    Apr., 2021 - Mar. 2024
  </li>
  <li>
    <strong>Master</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    <strong>Double First-class Universities</strong> & <strong>Project 985 Universities</strong><br/>
    <a href="https://so-link.org/en.html">Intelligent Information Fusion Research Group</a><br/>
    Research areas: Computer Vision, Natural Language Processing<br/>
    Sep., 2016 - Jul., 2019
  </li>
  <li>
    <strong>Bachelor</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    <strong>Double First-class Universities</strong> & <strong>Project 985 Universities</strong><br/>
    Major: Computer Science and Technology<br/>
    Sep., 2012 - Jul., 2016
  </li>
</ul>

<div class="solid-line"></div>
<h4>Experience/Internship</h4>
<ul>
   <li>
  	<a href="https://www.uni-hamburg.de/en.html">The University of Hamburg</a>, Research Associate, Hamburg, Germany<br/>
  	Advisor: Prof. <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/chris-biemann.html">Chris Biemann</a><br/>
  	May. 2020 - 
  </li>
  <li>
  	<a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University </a>, Research Assistant, Hong Kong, China<br/>
  	Advisor: Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a><br/>
  	Oct. 2018 - Aug. 2019
  </li>
  <li>
  	<a href="http://english.cas.cn/">The Chinese Academy of Sciences</a>, Research Assistant, Shenzhen, China<br/>
  	Advisor: Prof. <a href="http://minyang.me/">Min Yang</a><br/>
  	Mar. 2018 - Oct. 2018
  </li>
</ul>

<div class="solid-line"></div>
<h4>Selected Publications</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<div class="solid-line"></div>
<h4>Honors and Awards</h4>
<ul>
  <span>2020 | ACL Diversity & Inclusion Award</span></br>
  <span>2017, 2018, 2019 | Graduate Research Scholarship</span></br>
  <span>2016 | Tencent Scholarship Bachelor Level</span></br>
  <span>2013, 2014, 2015 | Bachelor Scholarship</span></br>
</ul>

<div class="solid-line"></div>
<h4>Professional Activities</h4>
<ul>
  <span><strong>Conference Reviewer</strong>: EMNLP 22', ACL 21', NAACL 21', IJCAI 21'(SPC), ACL 20', EMNLP 20', AACL-IJCNLP 20', EMNLP-IJCNLP 19', NLPCC 19'</span></br>
  <span><strong>Journal Reviewer</strong>: ACM Transactions on Asian and Low-Resource Language Information Processing, IEEE Access</span></br>
</ul>

<div class="solid-line"></div>
<div>
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=bGVmTKl8uEizbTwWPti0_5PaTxJcf6G8TzaPef_pWCk&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
</div>
