---
layout: default
title: Xintong Wang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Xintong Wang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">王鑫同</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Research Assistant<br/>
        Intelligent Information Fusion Research Group<br/>
    	School of Computer Science and Engineering<br/>
        South China University of Technology<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:m.e.xintong@gmail.com">m.e.xintong@gmail.com</a><br/>
      <a href="tel:+86-15521465116"><span class="glyphicon glyphicon-phone"></span>+86 155 2146 5116</a><br/>
      <a href="https://scholar.google.com/citations?user=xYfO9VEAAAAJ&hl=en"><img src="img/ico/gs.png" alt=""/> Google Scholar</a><br/>
      <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="https://ethanscuter.github.io/">https://ethanscuter.github.io</a><br/>
    </div>
  </div>
</div>

<div class="solid-line"></div>
<h4>Biography</h4>
<p>
I am a second-year Master Candidate in Computer Science at South China University of Technology.  I got the B.Eng. in Computer Science at South China University of Technology in June 2016. I have also worked with Prof. Min Yang at Chinese Academy of Sciences (CAS)  and Prof. Wenjie Li at The Hong Kong Polytechnic University (PolyU) since 2018.
</p>

<div class="solid-line"></div>
<h4><span style="color: red;"><strong>News</strong></span></h4>
<p>
Aug.2018: I will present my paper SimPGAN at KSEM 2018. <a href="papers/kesmupload.pdf">[Download]</a></br>
July.2018: I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University</a> working with Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a>.</br>
Feb.2018: I will be a <span style="color: red;"><strong>research assistant</strong></span> at <a href="http://english.cas.cn/">The Chinese Academy of Sciences</a> working with Prof. <a href="http://minyang.me/">Min Yang</a>.</br>
</p>

<div class="solid-line"></div>
<h4>Experience</h4>
<ul>
  <li>
  	<a href="https://www.polyu.edu.hk/web/en/home/index.html">The Hong Kong Polytechnic University </a>(PolyU), Research Assistant, Hong Kong, China<br/>
  	Advisor: Prof. <a href="http://www4.comp.polyu.edu.hk/~cswjli/">Wenjie Li</a><br/>
  	Sep. 2018 - Dec. 2018
  </li>
  <li>
  	<a href="http://english.cas.cn/">The Chinese Academy of Sciences</a>(CAS), Research Assistant, Shenzhen, China<br/>
  	Advisor: Prof. <a href="http://minyang.me/">Min Yang</a><br/>
  	Mar. 2018 - Sep. 2018
  </li>
    <li>
  	<a href="https://so-link.org/">Intelligent Information Fusion Research Group </a>(SCUT), Research Assistant, Guangzhou, China<br/>
  	Advisor: Prof. <a href="https://blog.so-link.org/team/jmlv.html">Jianming Lv</a><br/>
  	Sep. 2016 - July. 2019
  </li>
</ul>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<ul>
<strong>Spatial-temporal Data Mining/Computer Vision/Natural Language Processing</strong><br/>
  <br />
  <li>
  	<strong>Computer Vision, especially GAN for CV</strong><br/>
  	Cross-dataset Person Re-Identification Using Similarity Preserved Generative Adversarial Networks<br/>
  </li> 
  <li> 
    <strong>Natural Language Processing, especially abstractive text summarization</strong><br/> 
    Generative Adversarial Network for Abstractive Text Summarization<br/>
    Neural Summarization Machine: A New Framework for Generation-based Summarization<br/>
  </li>
  <li>
    <strong>Data Analysis, especially spatial-temporal data mining</strong><br/>
  	GPS Trajectory Mining: a Survey<br/>
  	T-CONV: A Convolutional Neural Network For Multi-scale Taxi Trajectory Prediction<br/>
  </li>
  <li>
    <strong>Distributed storage and computing system</strong><br/>
  	TREST: A Hadoop Based Distributed Mobile Trajectory Retrieval System<br/>
  	Regression Approach for Optimal Purchase of Hosts Cluster in Fixed Fund for Hadoop Big-data Platform<br/>
  </li>
</ul>

<div class="solid-line"></div>
<h4>Education</h4>
<ul>
  <li>
    <strong>Master</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    <a href="https://so-link.org/">Intelligent Information Fusion Research Group</a><br/>
    Research areas: Machine Learning, Deep Learning, Computer Vision, Natural Language Processing<br/>
    Supervisor: <a href="https://blog.so-link.org/team/jmlv.html">Prof. Jianming Lv</a><br/>
    Sep, 2016 - July, 2019
  </li>
  <li>
    <strong>Bachelor</strong> | 
    <span>
      School of Computer Science and Engineering, South China University of Technology
    </span><br/>
    Major: Computer Science and Technology<br/>
    <strong>First Class honor</strong><br/>
    Sep, 2016 - July, 2019
  </li>
</ul>

<div class="solid-line"></div>
<h4>Publications</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<div class="solid-line"></div>
<h4>Honors and Awards</h4>
<ul>
  <li><strong>South China University of Technology Research Scholarships 2017, 2018, 2019</strong></br>
  This scholarship is awarded to the outstanding students in the university.
  </li>
  <li><strong>Hongping And Changqing Scholarships 2016</strong></br>
  This scholarship is awarded to the outstanding students with excellent performance in academic competitions.
  </li>
  <li><strong>Tencent Scholarship of the Science and Technology (Rank 1st) 2016</strong></br>
  This scholarship is awarded to the outstanding students with excellent academic performance.
  </li>
  <li><strong>Anju Bao Scholarship of the Science and Technology (Rank 1st) 2016</strong></br>
  This scholarship is awarded to the outstanding students with excellent academic performance.
  </li>
  <li><strong>South China University of Technology Scholarships 2014, 2015</strong></br>
  This scholarship is awarded to the outstanding students in the university.
  </li>
  <li><strong>Merit Student of South China University of Technology 2014, 2015</strong></br>
  This award is awarded to the outstanding students with excellent performance in academic and leadership.
  </li>
  <li><strong>Honorable Mention of Mathematical Contest In Modeling Certificate of Achievement 2015</strong></br>
  Awarded by the Consortium for Mathematics and Its Application, USA.
  </li>
  <li><strong>Gold Prize in National COMAP’s Computer Software Design Contest. 2015</strong></br>
  Awarded by the China Computer Federation, China.
  </li>
</ul>

<div class="solid-line"></div>
<div>
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=bGVmTKl8uEizbTwWPti0_5PaTxJcf6G8TzaPef_pWCk&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
</div>
